{{#data}}
<div class="campaign">
    <h1>{{campaigntext}}</h1>
    {{#if transition}}
    <div class="tree-image"></div>
    {{/if}}
</div>
    <p id="campaign-description">{{description}}</p> 

{{/data}}