{{#data}}
<div class="campaign">
    <h1>{{campaigntext}}</h1>
    {{#if transition}}
    <div class="tree-image"></div>
    {{/if}}
    <div id="campaign-description">
        {{#description}}
            {{#if ../../animate}}
                <span class="animate">{{.}}</span>
            {{else}}
                <span>{{.}}</span>
            {{/if}}
        {{/description}}
    </div> 
</div>

{{/data}}