<body>
    {{>campaign data=data}}
    <div class="form-container">
        <h2>Welcome {{name}}! You can now sign the petition!</h2>
        <form method="post">
            <div class="signature-field">
                <canvas id="canvas" width="300px" height="150px"></canvas>
                <label for="signature" id="sign-here"> Sign Here</label>
                <input type="hidden" name="signature" id="signature" value=""/>
            </div> 
            <button type="submit">Submit</button>

            <div class="edit-buttons">
                <a class="redirect pen" href="/edit">Edit your Profile</a>
                <a class="redirect quit" href="/logout">Logout</a>
            </div> 
        </form>
    </div>
</body>