<body>
    {{>campaign data=data}}
    <div class="container">
        <h2>{{text}}</h2>
        <div class="signature-img">
            <img src="{{signatureImage}}" alt="your signature" >
        </div>
        <p>Show all <a href="./signatures">{{signers}} people</a> that support the campaign.</p>
    </div>
</body>


