<body>
    {{>campaign data=data}}
    <div class="form-container">
        <h2>Thank you for signing!</h2>
        <p>Your voice makes a difference!</p>
        <a class="redirect" href="/edit">Edit your Profile</a>
        <button type="submit" class="link">Delete your signature</button>
        <a class="redirect" href="/logout">Logout</a>
        <div class="signature-img">
            <img src="{{signatureImage}}" alt="your signature" >
        </div>
        <p>See all <a href="./signatures">{{signers}} people</a> that signed this petition.</p>
    </div>
</body>


