* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: miki;
    color: rgb(154, 213, 241);
}

@font-face {
    font-family: miki;
    src: url(./kontrapunktmiki/KontrapunktMiki-Regular.otf);
}

#canvas {
    border: 1px solid #313030;
}

body {
    display: grid;
    min-height: 100vh;
    /* grid-template-rows: 1fr 40px; */
}

main {
    background-color: #5f7c67;
}

footer {
    background-color: #6e716b;
    padding: 4px;
    line-height: 30px;
    text-align: right;
    padding-right: 100px;
}

.campaign {
    padding: 40px 40px;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.campaign > h1 {
    width: 100%;
    background-image: url("./green.jpg");
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8em;
    align-self: center;
    margin-bottom: 20px;
}

.campaign > p {
    width: 100%;
    font-size: 2em;
    color: #9ad5f1;

    z-index: 1;
}

/* .campaign .blur {
    width: 80%;
    height: 100px;
    background-image: url("./green2.jpg");
    background-size: 100%;
    filter: blur(3px);
    border-radius: 24px;
    align-self: center;
    margin-bottom: -80px;
} */

.form-container {
    padding: 40px;
    margin-left: 100px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container > h2 {
    margin-bottom: 16px;
}

.form-container > p {
    margin: 16px 0;
}

.form-container button[type="submit"] {
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
    height: 25px;
    line-height: 12px;
    padding: 4px;
    max-width: 120px;
    margin-top: 26px;
}

.form-container #discard {
    background-color: #9ad5f1;
    font-size: 0.8em;
    color: #6e716b;
    padding: 4px;
    max-width: 120px;
    height: 25px;
    text-decoration: none;
    margin-top: 10px;
    line-height: 16px;
    text-align: center;
}

.form-container #discard:hover {
    cursor: default;
}

.form-container input {
    background-color: #9ad5f1;
    color: black;
    padding: 4px;
    border: none;
    max-width: 300px;
    margin-bottom: 20px;
}

.form-container .edit-buttons {
    display: flex;
    margin-top: 20px;
}

.form-container .edit-buttons button:hover {
    cursor: pointer;
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
}

.form-container .edit-buttons button {
    background-color: #5f7c67;
    color: #9ad5f1;
    border: 2px solid #9ad5f1;
    margin: 0 8px 0 0;
    padding: 4px;
    max-width: 140px;
    height: 25px;
    line-height: 10px;
}

.form-container .redirect {
    background-color: #5f7c67;
    color: #9ad5f1;
    border: 2px solid #9ad5f1;
    font-size: 0.8em;
    padding: 4px;
    margin: 0 8px 0 0;
    max-width: 140px;
    height: 25px;
    text-decoration: none;
    line-height: 12px;
    text-align: center;
}

.form-container .redirect:hover {
    cursor: pointer;
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
}

.form-container .pen:before {
    content: "🖋 ";
}

.form-container .quit:before {
    content: "✖️ ";
}

.form-container .delete:before {
    content: "💔 ";
}
.form-container #sign-here {
    margin-left: 4px;
    margin-top: -2px;
    font-size: 0.8em;
}

.form-container #sign-here:before {
    content: "← ";
}
.form-container #sign-here:after {
    content: "  🖋";
}

.error-message {
    color: red;
}

.error-message:before {
    content: "⚠ ";
}

#pw-info {
    margin-top: -14px;
    font-size: 0.8em;
    max-width: 400px;
}
