* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: miki;
    color: rgb(154, 213, 241);
}

@font-face {
    font-family: miki;
    src: url(./kontrapunktmiki/KontrapunktMiki-Regular.otf);
}

#canvas {
    border: 1px solid #9ad5f1;
}

.form-container .signature-field p {
    font-size: 0.8em;
    margin-bottom: 6px;
}

.form-container .signature-field #clear-signature {
    position: relative;
    top: -8px;
    border: 1px solid #9ad5f1;
}

.form-container #submit-signature {
    transition: all 0.2s ease-in-out;
}

.form-container #submit-signature:hover {
    transform: scale(1.07) translateX(4px);
    cursor: pointer;
}

body {
    display: grid;
    min-height: 100vh;
    /* grid-template-rows: 1fr 40px; */
}

main {
    background-color: #5f7c67;
}

/* footer {
    background-color: #6e716b;
    padding: 4px;
    line-height: 30px;
    text-align: right;
    padding-right: 100px;
} */

.campaign {
    margin: 40px 0 0;
    padding: 10px 40px;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.campaign > h1 {
    align-self: center;
    font-family: miki;
    background-image: url("./green.jpg");
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8em;
    z-index: 1;
}

#campaign-description {
    margin: 0 0 40px 60px;
    width: 95%;
    z-index: 1;
}

#campaign-description span {
    font-size: 2em;
    color: #9ad5f1;
    opacity: 1;
}

#campaign-description span[class="animate"]:nth-child(1) {
    animation: 2s fadeIn1;
    font-size: 3.5em;
}
#campaign-description .animate:nth-child(2) {
    animation: 4s fadeIn2;
    font-size: 3.5em;
}
#campaign-description .animate:nth-child(3) {
    animation: 6s fadeIn3;
    font-size: 3.5em;
}
#campaign-description .animate:nth-child(4) {
    animation: 7s fadeIn4;
    font-size: 3.5em;
    padding-bottom: 60px;
}

.soundscape .sound-icon {
    position: absolute;
    right: 100px;
    top: 60px;
    color: #9ad5f1;
    transform: scale(2);
}

.soundscape audio {
    display: hidden;
}

.form-container {
    width: 65vw;
    padding: 40px;
    margin-left: 100px;
    margin-bottom: 200px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.15), 0 -30px 40px rgba(0, 0, 0, 0.1);
    animation: 3.5s 0s 1 fadeIn;
    color: #9ad5f1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
        color: #417792;
    }
    80% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
        color: #417792;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        color: #417792;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn4 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        color: #417792;
    }
    100% {
        opacity: 1;
    }
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container > h2 {
    margin-bottom: 16px;
}

.form-container > p {
    margin: 16px 0;
}

.form-container button[type="submit"] {
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
    height: 25px;
    line-height: 12px;
    padding: 4px;
    max-width: 120px;
    margin-top: 26px;
    transition: all 0.7s ease-in-out;
}

.form-container button[type="submit"]:hover {
    transform: scale(1.05) translateX(3px);
    cursor: pointer;
}

.form-container #discard {
    background-color: #9ad5f1;
    font-size: 0.8em;
    color: #6e716b;
    padding: 4px;
    max-width: 120px;
    height: 25px;
    text-decoration: none;
    margin-top: 10px;
    line-height: 16px;
    text-align: center;
}

.form-container #discard:hover {
    cursor: default;
}

.form-container input {
    background-color: #9ad5f1;
    color: black;
    padding: 4px;
    border: none;
    max-width: 300px;
    margin-bottom: 20px;
}

.form-container input:focus {
    outline: none;
}

.form-container .edit-buttons {
    display: flex;
    margin-top: 20px;
}

.form-container .edit-buttons button:hover {
    cursor: pointer;
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
}

.form-container .edit-buttons button {
    background-color: #5f7c67;
    color: #9ad5f1;
    border: 2px solid #9ad5f1;
    margin: 0 8px 0 0;
    padding: 4px;
    max-width: 140px;
    height: 25px;
    line-height: 10px;
}

.form-container .redirect {
    background-color: #5f7c67;
    color: #9ad5f1;
    border: 2px solid #9ad5f1;
    font-size: 0.8em;
    padding: 4px;
    margin: 0 8px 0 0;
    max-width: 140px;
    height: 25px;
    text-decoration: none;
    line-height: 12px;
    text-align: center;
}

.form-container .redirect:hover {
    cursor: pointer;
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
}

.form-container .pen:before {
    content: "📝 ";
}

.form-container .quit:before {
    content: "✖️ ";
}

.form-container .delete:before {
    content: "💔 ";
}

.form-container .delete-profile {
    margin-top: 20px;
}
.form-container .delete-profile input {
    margin-left: 8px;
}

.form-container .warning {
    margin-top: 20px;
}

.form-container .warning:before {
    content: "⚠ ";
}

.form-container #delete-all {
    background-color: #5f7c67;
    color: #9ad5f1;
    border: 2px solid #9ad5f1;
    font-size: 0.8em;
    padding: 4px;
    margin: 0 8px 0 0;
    max-width: 140px;
    height: 25px;
    text-decoration: none;
    line-height: 12px;
    text-align: center;
}

.form-container #delete-all:hover {
    cursor: default;
    background-color: #9ad5f1;
    color: #6e716b;
    border: 2px solid transparent;
}

.form-container #delete-all:before {
    content: "💥 ";
}

.entry p {
    display: inline-block;
    margin: 10px 0;
}

.error-message {
    color: #f45f5f;
}

.error-message:before {
    content: "⚠ ";
}

#pw-info {
    margin-top: -14px;
    font-size: 0.8em;
    max-width: 400px;
}
